* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
--baby-pink: #EFEAE6;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F0EDE8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

h1 {
    font-size: 2.5rem;
    
}

h2 {
    font-size: 2rem;

}

p {
    font-size: 1.5rem;

}


/*Nav*/

.cabecalho {    
    width: 100%;
    margin: 0 auto;
    padding: 0.2rem 2rem;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid #025e7371;

}

.menu-itens {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #025e73;
    padding: 0 10px;


}

.menu-itens:hover {
    color: #025e73b0;
    transition: all 300ms ease-in-out;


}

.img-cabecalho {
    height: 45px;
    width: 80px;

}
.botao-iniciar {
  border: solid 1px #025E73;
  height: 25px;
  width: 120px;
  padding: 0 auto;
  border-radius: 8px;
  background: rgba(0, 0, 255, 0);
  color: #025E73;
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;



}


.botao-iniciar:hover {
    background: #025e73c0;
    border-radius: 8px;
    color: #ffffff;
    width: 115px;
    height: 25px;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;


}

.container-voo {
    padding: 0 auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    height: 500px;
    
    
}


/*Form*/

.background-img {
    background-color: #F0EDE8;
    background-image: url(/Assets/img/Aviao.jpg);
    background-size: cover;
    background-position: center center;
    
    }

.main-voos h1 {
    text-align: center;
    font-size: 2.3rem;
    color: #282d30;



}
.main-voos {
 width: 100rem;

}



.img-selo {
    height: 13rem;
    width: 12rem;
    display: flex;
    float: left;
    padding-left: 12rem;
    
    
   
}
.box-voos {
        
        background-color: #ffffff3f;
        height: 33rem;
        width: 60rem;
        border-radius: 0.5rem;
        margin: 1rem auto;
        padding: 2rem 2.2rem; 
        margin-top: 5.5rem;       

}

fieldset {
    
    border: 0.1rem solid #025E73;
    border-radius: 0.8rem;
    padding: 0 auto;
    height: 25rem;
    width: 55.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    

}

legend {
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
    color: #696452;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;

}


.input-passageiro {
    outline: none;
    width: 5.2rem;
    border-radius: 0.8rem;
    border: none;
    padding: 0.8rem;
    


}
.input-group {
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    height: 8rem;
    
    
       
}

.container-passageiros {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: row;
    width: 100%;
    padding-left: 2rem;
    gap: 2.5rem;
    
    

    
    

}

.container-passageiros i {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-right: 0.5rem;


}




.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    

}

.input-box input {
    padding-left: 1rem;
    font-size: 1.5rem;
    

}

input:focus {
    background-color: #025e73d2;
    transition: 300ms ease-in-out;

}

.input-passageiros {
    margin: 1.5rem 0.02rem;
    display: flex;
    


}

.input-data-indefinida {    
    margin: 0.2rem;


}
.inputUsuario{
    height: 3rem;
    width: 20rem;
    outline: none;
    border: none;
    background-color: #025e735d;    
    border-radius: 0.8rem;
    border-bottom: 0.08rem solid #025e73cc;
    
    
}

.inputUsuario::-webkit-input-placeholder {
    color: #000000bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 0.1rem;
    font-size: 1.5rem;
    padding-left: 0.6rem;
    font-style: italic;

}

.label {
    
    color: #025E73;
    font-size: 1.6rem;

}


.botao-pesquisar {

    border: none;
    height: 3rem;
    width: 8rem;
    padding: 0 auto;
    border-radius: 8px;
    background: linear-gradient(308.6deg, #025E73 5.94%, #6D96A6 79.38%);
    color: #d4d2cb;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    box-shadow: #025e73d8 0.2rem 0.2rem 2rem 0px;
    font-style: oblique;
  

}

.botao-pesquisar:hover {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #f0ede8a9;
    
    
  

}

/*SEÇÃO DE OFERSTAS*/

.img-cards {
    display: flex;
    justify-content: center;
  


}

.main-ofertas {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #F0EDE8;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}
 
.main-ofertas .ofertas {
    background-color: #ffffff;
    border: 0.05rem solid #025E73;
    border-radius: 1rem;
    padding: 2rem;
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
    max-width: 30rem;
    width: 110rem;
    height: 30rem;
    transition: 0.5s ease-in-out; 
    flex-direction: column;
    padding-top: 15rem;
    
}

.main-ofertas .ofertas:hover {
    height: 45rem;  
    padding-top: 1rem;
    
}

.main-ofertas .ofertas .description{
    text-align: center;
    visibility: hidden;
    transition: 100ms ease-in-out;

}

.main-ofertas .ofertas:hover .description {
    visibility: visible;
    transition-delay: 400ms;
    cursor: pointer;


}
.oferta1, .oferta2, .oferta3 {

    height: 30rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    

}

.description, h2, p  {

    padding-top: 1rem;
    
    
}

.description button {
    margin: 2rem 0;

}

.botao-comprar {
    
    border: solid 1px #25aa13;
    height: 3rem;
    width: 20rem;
    padding: 0 auto;
    border-radius: 8px;
    background: rgba(0, 0, 255, 0);
    color: #25aa13;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;


}

.botao-comprar:hover {
    background-color: #25aa13;
    color: #F0EDE8;
    transition: 200ms ease-in-out;
    cursor: pointer;

}

/*Área Contato*/

.main-contato {

    background-color: #025E73;
    height: 30rem;
}


::-webkit-scrollbar {
    width: 0.8rem;


}


::-webkit-scrollbar-thumb{
    background-color: #bf0414;
    border-radius: 0.5rem;


}

/*Rodape*/

footer {

  
     
}